In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'C:\Users\Saurabh\Downloads\ipl\all_matches.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Stadium where the current matches are being played

In [3]:
stadium=['Wankhede Stadium','Wankhede Stadium, Mumbai','Eden Gardens','Sardar Patel Stadium, Motera','Narendra Modi Stadium',
        'MA Chidambaram Stadium','MA Chidambaram Stadium, Chepauk, Chennai','MA Chidambaram Stadium, Chepauk','Arun Jaitley Stadium',
        'Feroz Shah Kotla','M.Chinnaswamy Stadium','M Chinnaswamy Stadium']

In [4]:
new_venue=df[df.venue.isin(stadium)]

In [5]:
inn=[1,2]

In [6]:
new_venue=new_venue[new_venue.innings.isin(inn)]

Teams currently playing the Matches

In [7]:
teams=['Mumbai Indians','Kolkata Knight Riders','Royal Challengers Bangalore','Chennai Super Kings','Rajasthan Royals',
      'Kings XI Punjab','Punjab Kings','Sunrisers Hyderabad','Delhi Capitals','Delhi Daredevils']

In [8]:
new_venue=new_venue[new_venue.batting_team.isin(teams)]

In [9]:
new_venue.fillna(value=0,inplace=True)

In [10]:
new_venue=new_venue[new_venue.bowling_team.isin(teams)]

In [11]:
new_venue=new_venue[(new_venue.wides==0) | (new_venue.noballs==0) | (new_venue.penalty==0)]

In [12]:
new_venue['total_runs']=new_venue['runs_off_bat']+new_venue['extras']

In [13]:
new_venue=new_venue[new_venue.ball<6]

In [14]:
new_venue = new_venue[new_venue['match_id'] != 1178424]

In [15]:
new_venue = new_venue[new_venue['match_id'] != 336021]

In [16]:
new_venue=new_venue[new_venue['match_id']!= 829813]

In [17]:
new_venue['ball'] = new_venue['ball'].astype('str')

In [18]:
new_venue['ball'] = new_venue['ball'].apply(lambda x: x.replace(x[-1],'6') if x[-1] in ['7','8','9'] else x)

In [19]:
new_venue['ball'] = new_venue['ball'].astype('float64')

In [20]:
# new_venue.drop[columns=['match_id','season','start_date','striker','non_striker','bowler','runs_off_bat','extras','wides',\
# 'noballs','byes','legbyes','penalty','wicket_type'],axis=1,inplace=True]

In [21]:
new_venue = new_venue[['match_id','venue','innings','batting_team','bowling_team','ball','total_runs']]

In [22]:
total=new_venue.groupby(['match_id','venue','innings'])['total_runs'].sum()

In [23]:
total

match_id  venue                                     innings
335982    M Chinnaswamy Stadium                     1          61
                                                    2          26
335984    Feroz Shah Kotla                          1          40
                                                    2          55
335985    Wankhede Stadium                          1          47
                                                               ..
1254058   MA Chidambaram Stadium, Chepauk, Chennai  2          46
1254059   Wankhede Stadium, Mumbai                  1          33
                                                    2          65
1254060   MA Chidambaram Stadium, Chepauk, Chennai  1          50
                                                    2          35
Name: total_runs, Length: 639, dtype: int64

In [24]:
Total = pd.DataFrame(total)

In [25]:
import pandasql as pds

In [26]:
z=pds.sqldf("select * from Total")

In [27]:
z

     match_id                                     venue  innings  total_runs
0      335982                     M Chinnaswamy Stadium        1          61
1      335982                     M Chinnaswamy Stadium        2          26
2      335984                          Feroz Shah Kotla        1          40
3      335984                          Feroz Shah Kotla        2          55
4      335985                          Wankhede Stadium        1          47
..        ...                                       ...      ...         ...
634   1254058  MA Chidambaram Stadium, Chepauk, Chennai        2          46
635   1254059                  Wankhede Stadium, Mumbai        1          33
636   1254059                  Wankhede Stadium, Mumbai        2          65
637   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1          50
638   1254060  MA Chidambaram Stadium, Chepauk, Chennai        2          35

[639 rows x 4 columns]

In [28]:
z=pd.DataFrame(z)

In [29]:
z=z.rename(columns={'total_runs':"score"})

In [30]:
z

     match_id                                     venue  innings  score
0      335982                     M Chinnaswamy Stadium        1     61
1      335982                     M Chinnaswamy Stadium        2     26
2      335984                          Feroz Shah Kotla        1     40
3      335984                          Feroz Shah Kotla        2     55
4      335985                          Wankhede Stadium        1     47
..        ...                                       ...      ...    ...
634   1254058  MA Chidambaram Stadium, Chepauk, Chennai        2     46
635   1254059                  Wankhede Stadium, Mumbai        1     33
636   1254059                  Wankhede Stadium, Mumbai        2     65
637   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1     50
638   1254060  MA Chidambaram Stadium, Chepauk, Chennai        2     35

[639 rows x 4 columns]

In [31]:
new_venue=new_venue.merge(z,how='inner',on=['match_id','venue','innings'])

In [32]:
new_venue

,match_id,venue,innings,batting_team,bowling_team,ball,total_runs,score
0,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.1,1,61
1,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.2,0,61
2,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,1,61
3,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.4,0,61
4,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.5,0,61
...,...,...,...,...,...,...,...,...
23871,1254060,"MA Chidambaram Stadium, Chepauk, Chennai",2,Sunrisers Hyderabad,Kolkata Knight Riders,5.2,0,35
23872,1254060,"MA Chidambaram Stadium, Chepauk, Chennai",2,Sunrisers Hyderabad,Kolkata Knight Riders,5.3,1,35
23873,1254060,"MA Chidambaram Stadium, Chepauk, Chennai",2,Sunrisers Hyderabad,Kolkata Knight Riders,5.4,0,35
23874,1254060,"MA Chidambaram Stadium, Chepauk, Chennai",2,Sunrisers Hyderabad,Kolkata Knight Riders,5.5,0,35
23875,1254060,"MA Chidambaram Stadium, Chepauk, Chennai",2,Sunrisers Hyderabad,Kolkata Knight Riders,5.6,1,35

In [33]:
new_venue.drop('ball',axis=1,inplace=True)

In [34]:
# x.fit('venue','innings','batting_team','bowling_team','ball','total_runs')

In [35]:
cleanup_nums = {'venue' : {'Wankhede Stadium' : 1, 'Wankhede Stadium, Mumbai': 1,
                           'Eden Gardens' : 2, 
                           'Sardar Patel Stadium, Motera': 3,'Narendra Modi Stadium' : 3,
                           'MA Chidambaram Stadium': 4, 'MA Chidambaram Stadium, Chepauk, Chennai': 4, 
                           'MA Chidambaram Stadium, Chepauk': 4,
                           'Arun Jaitley Stadium': 5, 'Feroz Shah Kotla': 5,
                           'M.Chinnaswamy Stadium': 6, 'M Chinnaswamy Stadium': 6,
                            
                          },
                #ignoring deccan chargers as the data is too old to consider for good accuracy
                'batting_team' : {'Mumbai Indians': 1, 
                                  'Kolkata Knight Riders': 2, 
                                  'Royal Challengers Bangalore': 3,
                                  'Chennai Super Kings': 4, 
                                  'Rajasthan Royals': 5, 
                                  'Kings XI Punjab': 6, 'Punjab Kings': 6, 
                                  'Sunrisers Hyderabad': 7, 
                                  'Delhi Capitals': 8, 'Delhi Daredevils': 8
                                 },
                'bowling_team' : {'Mumbai Indians': 1, 
                                  'Kolkata Knight Riders': 2, 
                                  'Royal Challengers Bangalore': 3,
                                  'Chennai Super Kings': 4, 
                                  'Rajasthan Royals': 5, 
                                  'Kings XI Punjab': 6, 'Punjab Kings': 6, 
                                  'Sunrisers Hyderabad': 7, 
                                  'Delhi Capitals': 8, 'Delhi Daredevils': 8
                                 }
                    }

In [36]:
new_venue=new_venue.replace(cleanup_nums)

In [37]:
# stadium_filter_list = ['Punjab Cricket Association Stadium, Mohali','Sawai Mansingh Stadium',
#                        'Rajiv Gandhi International Stadium, Uppal','Dr DY Patil Sports Academy','Newlands',
#                        "St George's Park",'Kingsmead','SuperSport Park','Buffalo Park','New Wanderers Stadium',
#                        'De Beers Diamond Oval','OUTsurance Oval','Brabourne Stadium','Barabati Stadium',
#                        'Vidarbha Cricket Association Stadium, Jamtha','Himachal Pradesh Cricket Association Stadium',
#                        'Nehru Stadium','Holkar Cricket Stadium','Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
#                        'Subrata Roy Sahara Stadium','Shaheed Veer Narayan Singh International Stadium',
#                        'JSCA International Stadium Complex','Sheikh Zayed Stadium','Sharjah Cricket Stadium',
#                        'Dubai International Cricket Stadium','Maharashtra Cricket Association Stadium',
#                        'Punjab Cricket Association IS Bindra Stadium, Mohali','Saurashtra Cricket Association Stadium',
#                        'Green Park','Rajiv Gandhi International Stadium','Punjab Cricket Association IS Bindra Stadium'
#                       ]

In [38]:
# df[df.venue.str.lower().str.contains('sardar')]['venue'].unique()

In [56]:
new_venue.iloc[1000]

match_id        336013
venue                4
innings              1
batting_team         4
bowling_team         6
total_runs           0
score               53
Name: 1000, dtype: int64

In [68]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0

    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)


# import pandas as pd
# Importing the dataset
# dataset = pd.read_csv('data/odi.csv')
X = new_venue.iloc[:, 1:5].values
y = new_venue.iloc[:, -1].values


# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.24, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Training the dataset
from sklearn.ensemble import RandomForestRegressor
lin = RandomForestRegressor()
lin.fit(X_train,y_train)

# Testing the dataset on trained model
y_pred = lin.predict(X_test)
y_pred
# score = lin.score(X_test,y_test)
print("R square value:" , score)
print("Custom accuracy:" , custom_accuracy(y_test,y_pred,5))

import numpy as np
new_prediction = lin.predict(sc.transform(np.array([[4,1,1,4]])))
print("Prediction score:" , int(new_prediction))

R square value: 0.27677367317087187
Custom accuracy: 46.71087070319316
Prediction score: 42

In [ ]:
# import pickle
# pickle.dump(lin, open('model.pkl','wb'))
# model = pickle.load(open('model.pkl','rb'))

# tuple_objects = (model, X_train, y_pred, score)
# pickle.dump(tuple_objects, open("tuple_model.pkl", 'wb'))

# pickled_model, pickled_Xtrain, pickled_Ytrain, pickled_score = pickle.load(open("tuple_model.pkl", 'rb'))
# pkl_filename = "pickle_model.pkl"
# # with open(pkl_filename, 'wb') as file:
# #     pickle.dump(model, file)

# # with open(pkl_filename, 'rb') as file:
# #     pickle_model = pickle.load(file)